<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Data Analyst Portfolio</title>
  <style>
    .card {
      border: none;
      background-color: #f8f9fa;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      transition: 0.3s;
      border-radius: 5px;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333;
    }

    .card-text {
      font-size: 16px;
      color: #555;
      margin-bottom: 20px;
    }

    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
      transition: background-color 0.3s;
    }

    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }

    .projects-container {
      margin-top: 40px;
    }
  </style>
</head>
<body>

  <div class="container">
    <h2>Data Analytics Projects.</h2>
    <hr>
    <p>Welcome to my portfolio website! I am passionate about Data Analysis and have worked 
        on several exciting projects in this field. My Data Analytics projects encompass a wide
         range of applications, from data analytics and making excellent visualization to 
         predictive analytics. I have developed models that can accurately classify and predict
          outcomes based on complex datasets. Each project showcases my ability to
           leverage data-driven insights to solve real-world problems. I am constantly expanding my
            knowledge and exploring innovative approaches to stay at the forefront of this
             rapidly evolving field. Feel free to explore my projects and see how I harness
              the power of data to drive meaningful results</p>
              <hr>
    <div class="row projects-container">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Heart Disease Diagnosis Analysis - Power BI</h5>
            <p class="card-text"> Conduct a comprehensive data analysis of heart disease patient 
                records to uncover insights and patterns that can inform better diagnostic 
                and treatment strategies.
                Improved understanding of factors influencing heart disease, leading to potential advancements in diagnosis and treatment.</p>
            <a href="https://github.com/AkashMandlik555/Heart-Disease-Diagnosis-Analysis-PowerBI.git" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">HR & Recruitment Employment Attrition Analysis - Tableau</h5>
            <p class="card-text">Conducted comprehensive analysis of HR and recruitment data to 
                optimize hiring processes, reduce turnover, and enhance workforce diversity, 
                ultimately improving organizational efficiency.
                Achieved 12 % reduction in turnover rate, optimized hiring pipelines, and increased workforce diversity.</p>
            <a href="https://github.com/AkashMandlik555/HR-Recruitment-Analysis-Tableau.git" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Music Store Analysis - SQL</h5>
            <p class="card-text">Implemented SQL analysis on a music store database to assess sales trends, 
                customer preferences, and inventory management, aiming to optimize stock levels and revenue 
                generation.
                Enhanced inventory management, increased sales by 10%, and improved customer targeting, 
                resulting in elevated profitability and a more efficient music retail operation.</p>
            <a href="https://github.com/AkashMandlik555/Music-Store-Analysis-SQL.git" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Energy Forecasting - ETL</h5>
            <p class="card-text">Develop an end-to-end Energy Forecasting ETL (Extract, Transform, and Load) pipeline 
                integrated with MLops for automated data collection, processing, model training, and deployment to enhance 
                energy consumption predictions.
                Improved energy consumption forecasts through streamlined ETL processes, 
                enabling better resource planning and energy management.
             </p>
            <a href="https://github.com/AkashMandlik555/Energy-Forcasting-MLOps-ETL.git" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Time Series Forecasting</h5>
            <p class="card-text">time series forecasting, in which
              project i took  dataset, and extracted APRIL & MAY  "RD_NO" month of 2023 
              for the training purpose and
              i did forecasting for the JUN month of 2023 for RD_NO reporting date number.
              used SARIMA time series forecasting method. and got the highly impressive  forecasting
              for the jun month with very minued loss. and other all information and source code 
              are Available github, forecasting result save in "result_for_jun.csv", 
                </p>
            <a href="https://github.com/AkashMandlik555/TimeSeries-Forcasting.git" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Project 6</h5>
            <p class="card-text"> All are project will be Available very soon,
              we are all working on it. 😊
                </p>
            <a href="https://github.com/AkashMandlik555" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>


      <h4>My All Projects Available as soon as possible , we are all working on this section. 😊</h4>
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>
    